<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h1>Login in</h1>
<% if current_user %>
    <h2>Hi~<%= current_user.email %></h2>
    <%= link_to('logout', destroy_user_session_path, :method => :delete) %> |
    <%= link_to('change password', edit_registration_path(:user)) %>
<% else %>
    <%= link_to('register', new_registration_path(:user)) %>|
    <%= link_to('log in', new_session_path(:user)) %>)
<% end %>